<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Reekhav Engineers - Best Transmission Line Tower Company</title>
    <meta name="title" content="Reekhav Engineers">
    <meta name="description" content="REEKHAV ENGINEERS has a outstanding engineering consultancy services by keeping best quality & ethical standards, as backbone for progressive growth.">
    <meta name="keywords" content="reekhav, reekhav-engineers, reekhav engineers, reekhaveng.com, reekhav ahmedabad, re, ree, engineers, transmission line towers, reekhavengg, reekhaveng, reekhav engineers ahmedabad">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="REEKHAV ENGINEERS">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/css/webflow.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        ! function(o, c) {
            var n = c.documentElement,
                t = " w-mod-";
            n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
        }(window, document);
    </script>
    <link href="/static/images/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/images/logo.jpg" rel="apple-touch-icon" />
</head>

<body class="body">
    <div data-animation="over-right" data-collapse="medium" data-duration="200" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
        <div class="navbar-container w-container">
            <a href="/home" aria-current="page" class="logo w-nav-brand w--current">
                <img height="" src="/static/images/logo-nobg.png" loading="lazy" alt="" /></a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <a href="/home" class="nav-link w-nav-link">Home</a>
                <a href="/our_work" class="nav-link w-nav-link">Projects</a>
                <a href="/services" class="nav-link w-nav-link">Services</a>
                <a href="/dhwani" class="nav-link w-nav-link">About Us</a>
                <a href="/gallery" class="nav-link w-nav-link">Gallery</a>
                <a href="/privacy_policy" class="nav-link w-nav-link">Privacy & Policy</a>
                <div class="menu-right">
                    <div class="nav-divider-open"></div>
                    <div class="help-login">
                        <div class="nav-divider"></div>
                    </div><a href="#" data-w-id="7a63ee58-9ddc-b4d2-9bb2-7a138f72815a" class="nav-link-button w-nav-link">Contact Us</a>
                </div>
            </nav>
            <div class="nav-menu-r">
                <div class="nav-divider-open"></div>
                <div class="help-login">
                    <div class="nav-divider"></div>
                </div>
                <a href="#" data-w-id="f4a071e2-ae71-2a98-f7be-1a2803a44d37" class="nav-link-button w-nav-link">Contact Us</a>
            </div>
            <div class="menu-button w-nav-button"><img src="/static/svg/icon-menu.svg" loading="lazy" height="" alt="" class="icon" /></div>
            <div class="menu-tint"></div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="what-we-do">
        <div class="company-title-hero">Gallery</div>
        <div class="wwd-box"><img src="/static/images/logo-nobg.png" loading="lazy" width="750" sizes="(max-width: 479px) 75vw, (max-width: 991px) 63vw, 750px" srcset="/static/images/logo-nobg.png 500w, /static/images/logo-nobg.png 800w, /static/images/logo-nobg.png 1080w, /static/images/logo-nobg.png 1500w" alt="" class="pine-platform" />
            <div class="wwd-text">Discprition Here</div>
        </div>
    </div>
    <div class="footerbox">
        <div class="footer">
            <div class="footer-container">
                <div class="footer-main">
                    <a href="#top" class="f-logo w-inline-block">
                        <img src="/static/images/logo-nobg.png" loading="lazy" width="Auto" height="75" alt="" class="logo-footer" />
                    </a>
                    <div class="f-links-mobile">
                        <a href="mailto:reekhavengineers@gmail.com?subject=From%20RE's%20Website%3A%20&body=Dear%20Sir%2FMadam%2C%0D%0AI%20am%20an%20visitor%20from%20your%20website.%20I%20.....%0D%0A%0D%0AThanks%20%26%20Regards%2C%0D%0AReekhav%20Engineers" target="_blank" class="f-link">📧: reekhavengineers@gmail.com</a>
                        <br>
                        <a href="https://wa.me/9428050941" class="f-link">📱: +91-9426033830</a>
                    </div>
                    <div class="f-socials">
                        <a href="#" target="_blank" class="f-icon-block w-inline-block">
                            <img src="/static/svg/icon-facebook.svg" loading="lazy" alt="face" class="f-icon" />
                        </a>
                        <a href="#" target="_blank" class="f-icon-block w-inline-block">
                            <img src="/static/svg/icon-twitter.svg" loading="lazy" alt="" class="f-icon" />
                        </a>
                        <a href="#" target="_blank" class="f-icon-block w-inline-block">
                            <img src="/static/svg/icon-linkedin.svg" loading="lazy" alt="" class="f-icon" />
                        </a>
                        <a href="#" target="_blank" class="f-icon-block w-inline-block">
                            <img src="/static/svg/icon-youtube.svg" loading="lazy" alt="" class="f-icon" />
                        </a>
                        <a href="#" target="_blank" class="f-icon-block w-inline-block">
                            <img src="/static/svg/icon-instagram.svg" loading="lazy" alt="" class="f-icon" />
                        </a>
                    </div>
                    <div class="f-copyright">© 2023 Developed & Maintaind by <a href="https://mahirshah.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">Mahir Shah</a>. All Rights Reserved</div>
                </div>
                <div class="footer-links">
                    <div class="f-link-section">
                        <div class="f-icon-link">
                            <img src="/static/svg/icon-apple.svg" loading="lazy" alt="" class="f-icon-inline" />
                            <a href="#" target="_blank" class="f-link-inline">iOS App</a>
                        </div>
                        <div class="f-icon-link">
                            <img src="/static/svg/icon-google.svg" loading="lazy" alt="" class="f-icon-inline" />
                            <a href="#" target="_blank" class="f-link-inline">Android App</a>
                        </div>
                    </div>
                    <div class="f-link-section">
                        <a href="/reekhav" class="f-link">About Reekhav</a>
                        <a href="/dhwnai" class="f-link">About Proprietor</a>
                        <a href="/vision" class="f-link">Vision & Mission</a>
                    </div>
                    <div class="f-link-section">
                        <a href="/our_work" class="f-link">Our Projects</a>
                        <a href="mailto:reekhavengineers@gmail.com?subject=From%20RE's%20Website%3A%20&body=Dear%20Sir%2FMadam%2C%0D%0AI%20am%20an%20visitor%20from%20your%20website.%20I%20.....%0D%0A%0D%0AThanks%20%26%20Regards%2C%0D%0AReekhav%20Engineers" class="f-link">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div data-w-id="d891b023-62c8-97b3-5404-d853eaa20ee6" class="modal-bg w-container">
        <div data-w-id="d891b023-62c8-97b3-5404-d853eaa20ee7" class="window-demo">
            <div class="modal-nav">
                <a data-w-id="d891b023-62c8-97b3-5404-d853eaa20ee9" href="#" class="button-close w-inline-block">
                    <img src="/static/svg/icon-close.svg" loading="lazy" alt="" />
                </a>
            </div>
            <div class="demo-main">
                <div class="demo-textbox">
                    <div class="demo-title">Connect with Reekhav</div>
                    <p class="demo-text">
                        Fill out this form to start a conversation with a Reekhav team member about your events and get your questions answered.<br><br>
                        Contact Us:<br>
                        Email: ReekhavEngineers@gmail.com
                        Phone: +91-9913462205
                    </p>
                </div>
                <img src="/static/images/logo-nobg.png" loading="lazy" width="171" alt="" class="img-demo" />
            </div>
            <div class="form-demo-container w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form">
                    <input type="text" class="input-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Full Name" id="name" required="" />
                    <input type="email" class="input-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required="" />
                    <textarea placeholder="Tell us about your needs" maxlength="5000" id="content" name="content" data-name="Comment" class="textarea w-input"></textarea>
                    <div class="form-legal-text">Your information will be processed according to our Terms of use and Privacy Policy. By clicking below, you authorize PINE to contact and send you marketing communications. You may unsubscribe from these communications anytime.</div>
                    <input type="submit" value="Send Inquiry" class="button-gradient w-button" />
                </form>
            </div>
        </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62fbacdd956e3642e4ac995a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/static/js/webflow.min.js" type="text/javascript"></script>
</body>

</html>